### Intro: find missing data

In [2]:
import pandas as pd
import numpy as np
import math

In [43]:
# Here's building a function using def: 

def square_root(x): return math.sqrt(x)

In [44]:
# Here's building the same function using lambda

In [57]:
# Use the isnull() method to detect the missing values. The output
# shows True when the value is missing. By adding an index into 
# the dataset, you obtain just the entries that are missing.
# A dataset could represent missing data in several ways. In this 
# example, you see missing data represented as np.NaN (NumPy Not 
# a Number) and the Python None value.
data.head()

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,founded_month,founded_quarter,founded_year,first_funding_at,last_funding_at,Unnamed: 18,funding_total_usd
0,/organization/canal-do-credito,Canal do Credito,http://www.canaldocredito.com.br,|Credit|Technology|Services|Finance|,Credit,"750,000",NaN,BRA,NaN,Rio de Janeiro,Belo Horizonte,1,NaN,NaN,NaN,NaN,1/1/10,1/1/10,NaN,750000
1,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,Entertainment,"1,750,000",acquired,USA,NY,New York City,New York,1,6/1/12,2012-06,2012-Q2,2012.0,6/30/12,6/30/12,NaN,1750000
2,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,"4,000,000",operating,USA,CA,Los Angeles,Los Angeles,2,NaN,NaN,NaN,NaN,6/4/10,9/23/10,NaN,4000000
3,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Education,"40,000",operating,EST,NaN,Tallinn,Tallinn,1,10/26/12,2012-10,2012-Q4,2012.0,8/9/12,8/9/12,NaN,40000
4,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Apps,"1,500,000",operating,GBR,NaN,London,London,1,4/1/11,2011-04,2011-Q2,2011.0,4/1/11,4/1/11,NaN,1500000
5,/organization/n-plusn,#NAME?,http://plusn.com,|Software|,Software,"600,000",operating,USA,NY,New York City,New York,1,1/1/12,2012-01,2012-Q1,2012.0,8/29/12,8/29/12,NaN,600000
6,/organization/club-domains,.Club Domains,http://nic.club/,|Software|,Software,"7,000,000",NaN,USA,FL,Ft. Lauderdale,Oakland Park,1,10/10/11,2011-10,2011-Q4,2011.0,5/31/13,5/31/13,NaN,7000000
7,/organization/fox-networks,.Fox Networks,http://www.dotfox.com,|Advertising|,Advertising,"4,912,393",closed,ARG,NaN,Buenos Aires,Buenos Aires,1,NaN,NaN,NaN,NaN,1/16/07,1/16/07,NaN,4912393
8,/organization/0-6-com,0-6.com,http://www.0-6.com,|Curated Web|,Curated Web,"2,000,000",operating,NaN,NaN,NaN,NaN,1,1/1/07,2007-01,2007-Q1,2007.0,3/19/08,3/19/08,NaN,2000000
9,/organization/004-technologies,004 Technologies,http://004gmbh.de/en/004-interact,|Software|,Software,-,operating,USA,IL,"Springfield, Illinois",Champaign,1,1/1/10,2010-01,2010-Q1,2010.0,7/24/14,7/24/14,NaN,
10,/organization/0xdata,0xdata,http://www.0xdata.com,|Analytics|,Analytics,"1,700,000",operating,USA,CA,SF Bay Area,Mountain View,1,1/1/11,2011-01,2011-Q1,2011.0,1/3/13,1/3/13,NaN,1700000
11,/organization/1-2-3-listo,"1,2,3 Listo",http://www.123listo.com,|E-Commerce|,E-Commerce,"40,000",operating,CHL,NaN,Santiago,Las Condes,1,1/1/12,2012-01,2012-Q1,2012.0,2/18/13,2/18/13,NaN,40000
12,/organization/1-4-all,1-4 All,NaN,|Entertainment|Games|Software|,Entertainment,-,operating,USA,NC,North Carolina,Connellys Springs,1,NaN,NaN,NaN,NaN,4/21/13,4/21/13,NaN,
13,/organization/1-800-dentist,1-800-DENTIST,http://www.1800dentist.com,|Health and Wellness|,Health and Wellness,-,operating,USA,CA,Los Angeles,Los Angeles,1,1/1/86,1986-01,1986-Q1,1986.0,8/19/10,8/19/10,NaN,
14,/organization/1-800-doctors,1-800-DOCTORS,http://1800doctors.com,|Health and Wellness|,Health and Wellness,"1,750,000",operating,USA,NJ,Newark,Iselin,1,1/1/84,1984-01,1984-Q1,1984.0,3/2/11,3/2/11,NaN,1750000
15,/organization/1-618-technology,1.618 Technology,NaN,|Real Estate|,Real Estate,-,operating,USA,FL,Orlando,Orlando,1,12/7/13,2013-12,2013-Q4,2013.0,1/22/14,1/22/14,NaN,
16,/organization/10-20-media,10-20 Media,http://www.10-20media.com,|E-Commerce|,E-Commerce,"2,050,000",operating,USA,MD,Baltimore,Woodbine,4,1/1/01,2001-01,2001-Q1,2001.0,6/18/09,12/28/11,NaN,2050000
17,/organization/1000-corks,1000 Corks,http://1000corks.com,|Search|,Search,"40,000",operating,USA,OR,"Portland, Oregon",Lake Oswego,1,1/1/08,2008-01,2008-Q1,2008.0,8/23/11,8/23/11,NaN,40000
18,/organization/1000-markets,1000 Markets,http://www.1000markets.com,|Marketplaces|Art|E-Commerce|,Art,"500,000",acquired,NaN,NaN,NaN,NaN,1,1/1/09,2009-01,2009-Q1,2009.0,5/15/09,5/15/09,NaN,500000
19,/organization/1000jobboersen-de,1000jobboersen.de,http://www.1000jobboersen.de,|Curated Web|,Curated Web,-,operating,DEU,NaN,Berlin,Berlin,1,NaN,NaN,NaN,NaN,9/16/11,9/16/11,NaN,
20,/organization/1000memories,1000memories,http://1000memories.com,|Curated Web|,Curated Web,"2,535,000",acquired,USA,CA,SF Bay Area,San Francisco,2,7/1/10,2010-07,2010-Q3,2010.0,1/1/10,2/16/11,NaN,2535000
21,/organization/1000museums-com,1000museums.com,http://www.1000museums.com,|Curated Web|,Curated Web,"4,462,651",operating,USA,WA,Seattle,Bellevue,4,1/1/08,2008-01,2008-Q1,2008.0,10/14/09,1/15/14,NaN,4462651
22,/organization/1001-menus,1001 Menus,http://1001menus.com,|Local Businesses|Restaurants|,Local Businesses,"1,869,079",operating,FRA,NaN,Paris,Paris,2,11/20/10,2010-11,2010-Q4,2010.0,12/27/12,11/13/13,NaN,1869079
23,/organization/1006-tv,1006.tv,http://www.1006.tv/,|Media|Games|,Games,"10,000,000",operating,NaN,NaN,Beijing,Beijing,3,1/1/09,2009-01,2009-Q1,2009.0,1/1/11,7/31/14,NaN,10000000
24,/organization/100du-tv,100du.tv,http://www.100du.com,|Hospitality|,Hospitality,"3,000,000",operating,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,1/7/08,8/13/10,NaN,3000000
25,/organization/100e-com,100e.com,http://www.100e.com,|Education|,Education,"3,000,000",operating,CHN,NaN,Beijing,Beijing,1,NaN,NaN,NaN,NaN,1/1/06,1/1/06,NaN,3000000
26,/organization/100plus,100Plus,http://www.100plus.com,|Analytics|,Analytics,"1,250,000",acquired,USA,CA,SF Bay Area,San Francisco,2,9/16/11,2011-09,2011-Q3,2011.0,11/2/11,11/30/11,NaN,1250000
27,/organization/1010data,1010data,http://www.1010data.com,|Software|,Software,"35,000,000",operating,USA,NY,New York City,New York,1,1/1/00,2000-01,2000-Q1,2000.0,3/8/10,3/8/10,NaN,35000000
28,/organization/10bestthings,10BestThings,http://10bestthings.com,|Curated Web|,Curated Web,"50,000",closed,USA,OH,Cleveland,Cleveland,1,4/1/09,2009-04,2009-Q2,2009.0,4/1/09,4/1/09,NaN,50000
29,/organization/10sec,10sec,https://10s.ec/,|Social Commerce|E-Commerce|Mobile Commerce|,E-Commerce,"1,600,000",NaN,NaN,NaN,NaN,NaN,1,7/8/13,2013-07,2013-Q3,2013.0,5/8/14,5/8/14,NaN,1600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44920,/organization/zweitgeist,zweitgeist,http://www.weblin.com,|Messaging|Software|,Messaging,"651,000",operating,DEU,NaN,Hamburg,Hamburg,1,6/24/06,2006-06,2006-Q2,2006.0,2/1/07,2/1/07,NaN,651000
44921,/organization/zwipe,Zwipe,http://zwipe.com,|Mobile|,Mobile,"3,500,000",operating,NOR,NaN,NaN,0152 Oslo,1,1/1/09,2009-01,2009-Q1,2009.0,12/10/13,12/10/13,NaN,3500000
44922,/organization/zwittle,Zwittle,http://zwittle.com,|Software|,Software,"190,000",operating,USA,UT,Salt Lake City,Logan,1,1/1/11,2011-01,2011-Q1,2011.0,4/19/12,4/19/12,NaN,190000
44923,/organization/zwoor-com,zwoor.com,http://www.zwoor.com,|Meeting Software|Polling|Surveys|Android|iPho...,Android,"100,000",operating,NaN,NaN,NaN,NaN,1,1/1/10,2010-01,2010-Q1,2010.0,1/1/11,1/1/11,NaN,100000
44924,/organization/zyante,Zyante,http://www.zyante.com,|News|,News,"870,000",operating,USA,CA,SF Bay Area,Los Gatos,2,1/1/12,2012-01,2012-Q1,2012.0,12/1/13,4/2/14,NaN,870000
44925,/organization/zyb,ZYB,http://zyb.com,|Social Network Media|Networking|Mobile|,Mobile,"3,845,100",acquired,DNK,NaN,Copenhagen,Copenhagen,2,NaN,NaN,NaN,NaN,1/1/05,9/1/06,NaN,3845100
44926,/organization/zyga-technology,Zyga,http://www.zyga.com,|Medical Devices|Health Care|,Health Care,"45,750,000",operating,USA,MN,Minneapolis,Minnetonka,4,1/1/08,2008-01,2008-Q1,2008.0,10/6/08,12/16/13,NaN,45750000
44927,/organization/zygo,Zygo Communications,http://www.zygocommunications.com/who,|SMS|Mobile|,Mobile,-,closed,GBR,NaN,London,London,1,6/21/05,2005-06,2005-Q2,2005.0,11/19/07,11/19/07,NaN,
44928,/organization/zygo-corporation,Zygo Corporation,http://www.zygo.com,|Manufacturing|,Manufacturing,"9,000,000",NaN,USA,CT,Connecticut,Middlefield,1,NaN,NaN,NaN,NaN,10/24/11,10/24/11,NaN,9000000
44929,/organization/zyken-nightcove,Zyken - NightCove,http://www.zyken.com,|Design|Health and Wellness|Hardware + Software|,Design,"3,384,225",acquired,FRA,NaN,Paris,Paris-l'hopital,4,1/1/05,2005-01,2005-Q1,2005.0,1/1/05,4/1/12,NaN,3384225
44930,/organization/zykis,Zykis,http://zykis.com,|Data Security|Automotive|Portals|Education|Ki...,Automotive,"800,000",closed,USA,CA,Anaheim,Irvine,1,10/27/06,2006-10,2006-Q4,2006.0,10/27/06,10/27/06,NaN,800000
44931,/organization/zylie-the-bear,Zylie the Bear,http://zyliethebear.com,|E-Commerce|,E-Commerce,"75,000",operating,USA,CT,Hartford,Greenwich,1,1/1/09,2009-01,2009-Q1,2009.0,6/7/12,6/7/12,NaN,75000
44932,/organization/zyme-solutions,Zyme Solutions,http://www.zymesolutions.com,|Hardware|Hardware + Software|,Hardware,"12,039,999",operating,USA,CA,California,Redwood Shores,5,1/1/04,2004-01,2004-Q1,2004.0,9/12/05,5/1/14,NaN,12039999
44933,/organization/zymetis,Zymetis,http://www.zymetis.com,|Biotechnology|,Biotechnology,"2,257,464",closed,USA,MD,Maryland,College Park,2,1/1/06,2006-01,2006-Q1,2006.0,1/11/10,1/31/10,NaN,2257464
44934,/organization/zymeworks,Zymeworks,http://zymeworks.com,|Biotechnology|,Biotechnology,"38,900,000",operating,CAN,AB,Vancouver,Vancouver,5,4/1/04,2004-04,2004-Q2,2004.0,3/3/08,1/9/14,NaN,38900000
44935,/organization/zympi,Zympi,http://www.zympi.com,|Networking|Web Hosting|Mobile|,Mobile,-,operating,NaN,NaN,NaN,NaN,1,9/3/10,2010-09,2010-Q3,2010.0,11/22/11,11/22/11,NaN,
44936,/organization/zyncd,Zyncd,http://www.zyncd.com,|Knowledge Management|Crowdsourcing|,Crowdsourcing,-,operating,GBR,NaN,London,London,1,1/1/14,2014-01,2014-Q1,2014.0,2/1/14,2/1/14,NaN,
44937,/organization/zyncro,Zyncro,http://www.zyncro.com,|Social Business|Enterprise 2.0|Cloud Computin...,Cloud Computing,"3,805,520",operating,ESP,NaN,Barcelona,Barcelona,2,9/1/09,2009-09,2009-Q3,2009.0,4/5/11,2/3/12,NaN,3805520
44938,/organization/zynga,Zynga,http://www.zynga.com,|Technology|Facebook Applications|Networking|G...,Facebook Applications,"866,550,786",operating,USA,CA,SF Bay Area,San Francisco,9,7/1/07,2007-07,2007-Q3,2007.0,1/1/07,2/18/11,NaN,866550786
44939,/organization/zyngenia,Zyngenia,http://www.zyngenia.com,|Biotechnology|,Biotechnology,"25,000,000",operating,USA,MD,Maryland,Gaithersburg,1,1/1/08,2008-01,2008-Q1,2008.0,9/9/10,9/9/10,NaN,25000000
44940,/organization/zynstra,Zynstra,http://www.zynstra.com,|Software|,Software,"14,750,000",operating,GBR,NaN,Bath,Bath,4,11/30/11,2011-11,2011-Q4,2011.0,3/3/12,7/9/14,NaN,14750000
44941,/organization/zyomyx-inc,ZYOMYX,http://www.zyomyx.com,|Biotechnology|,Biotechnology,"34,275,015",operating,USA,MO,Missouri,Fremont,4,1/1/98,1998-01,1998-Q1,1998.0,1/29/10,3/26/14,NaN,34275015
44942,/organization/zyraz-technology,Zyraz Technology,http://www.zyraz.com,|Biotechnology|,Biotechnology,"15,398,910",closed,MYS,NaN,Kuala Lumpur,Damansara New Village,3,1/1/94,1994-01,1994-Q1,1994.0,1/1/08,10/9/09,NaN,15398910
44943,/organization/zyrra,Zyrra,http://www.zyrra.com,|E-Commerce|,E-Commerce,"1,510,500",operating,USA,MA,Boston,Cambridge,4,NaN,NaN,NaN,NaN,10/21/10,10/18/12,NaN,1510500
44944,/organization/zytoprotec,Zytoprotec,http://www.zytoprotec.com,|Biotechnology|,Biotechnology,"2,686,600",operating,AUT,NaN,Gerasdorf Bei Wien,Gerasdorf Bei Wien,1,1/1/07,2007-01,2007-Q1,2007.0,1/29/13,1/29/13,NaN,2686600
44945,/organization/zzish,Zzish,http://www.zzish.com,|Analytics|Gamification|Developer APIs|iOS|And...,Analytics,"120,000",operating,GBR,NaN,London,London,1,1/28/13,2013-01,2013-Q1,2013.0,3/24/14,3/24/14,NaN,120000
44946,/organization/zznode-science-and-technology-co...,ZZNode Science and Technology,http://www.zznode.com,|Enterprise Software|,Enterprise Software,"1,587,301",operating,CHN,NaN,Beijing,Beijing,1,NaN,NaN,NaN,NaN,4/1/12,4/1/12,NaN,1587301
44947,/organization/zzzzapp-com,Zzzzapp!,http://www.zzzzapp.com,|Web Development|Advertising|Wireless|Mobile|,Advertising,"71,525",operating,HRV,NaN,Split,Split,3,5/13/12,2012-05,2012-Q2,2012.0,11/1/11,8/1/13,NaN,71525
44948,/organization/a-list-games,[a]list games,http://www.alistgames.com,|Games|,Games,"9,300,000",operating,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,11/21/11,11/21/11,NaN,9300000
44949,/organization/x,[x+1],http://www.xplusone.com/,|Enterprise Software|,Enterprise Software,"45,000,000",operating,USA,NY,New York City,New York,4,1/1/99,1999-01,1999-Q1,1999.0,6/1/08,4/4/13,NaN,45000000

In [98]:
data['founded_year'] = data['founded_year'].fillna(data['founded_year'].min())

In [99]:
data['founded_year']

0        1900.0
1        2012.0
2        1900.0
3        2012.0
4        2011.0
5        2012.0
6        2011.0
7        1900.0
8        2007.0
9        2010.0
10       2011.0
11       2012.0
12       1900.0
13       1986.0
14       1984.0
15       2013.0
16       2001.0
17       2008.0
18       2009.0
19       1900.0
20       2010.0
21       2008.0
22       2010.0
23       2009.0
24       1900.0
25       1900.0
26       2011.0
27       2000.0
28       2009.0
29       2013.0
          ...
44920    2006.0
44921    2009.0
44922    2011.0
44923    2010.0
44924    2012.0
44925    1900.0
44926    2008.0
44927    2005.0
44928    1900.0
44929    2005.0
44930    2006.0
44931    2009.0
44932    2004.0
44933    2006.0
44934    2004.0
44935    2010.0
44936    2014.0
44937    2009.0
44938    2007.0
44939    2008.0
44940    2011.0
44941    1998.0
44942    1994.0
44943    1900.0
44944    2007.0
44945    2013.0
44946    1900.0
44947    2012.0
44948    1900.0
44949    1999.0
Name: founded_year, dtype: float64

### Intro: fill in missing data

In [2]:
# To fill in missing data use fillna(). For fillna() you need to 
# provide a number. Usually, the mean, median, or mode is used. 
# Let's use the same data set and this time let's fill in missing 
# values with the mean.

In [3]:
# We could also just drop all the NAs, by using dropna()

### Write the equivalent lambda function

In [48]:
# Write the equivalent lambda function for the following def 
# function: 

def f (x): return x**2
print f(8)

64

In [4]:
# equivalent lambda function

### Lab 3.4

In [97]:
# read in the raw data from the github url

data = pd.read_csv("https://raw.githubusercontent.com/suneel0101/lesson-plan/master/crunchbase_monthly_export.csv")

In [5]:
# find missing values

In [ ]:
# fill in missing data with the mean