<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 15px; height: 80px">

# List comprehension independent practice

Week 1 | Lesson 3.1

---

Each problem below should be completed with a standard for-loop pattern as well as a single list (or dictionary) comprehension. This will give you a feel for the differences and similarities between the two.

Questions increase in difficulty as you go down the problem set.

---

### Load useful packages:

In [15]:
import string
import numpy as np

---

### 1. convert each string from lowercase to uppercase

Python strings can be turned to uppercase by appending: **`.upper()`**. The inverse to lowercase can be done with **`.lower()`**.

```python
'yellow'.upper()
'YELLOW'
'GREEN'.lower()
'green'
```

#### 1.1 With a for-loop

In [3]:
strings = ['black','Yellow','ReD','GreeN','BLUe']

strings_low = [x.lower() for x in strings]

strings_low

['black', 'yellow', 'red', 'green', 'blue']

#### 1.2 With a list comprehension

In [4]:
uppercase_strings = [s.upper() for s in strings]
uppercase_strings

['BLACK', 'YELLOW', 'RED', 'GREEN', 'BLUE']

In [6]:
nlower = []
for x in uppercase_strings:
    nlower.append(x.lower())
    
nlower

['black', 'yellow', 'red', 'green', 'blue']

---

### 2. take the numbers in the list and keep only the even numbers

Recall that the modulo operator **%** can be used to calculate the remainder. This is useful for finding even and odd numbers.

```python
print 5 % 2
1
print 4 % 2
0
```

#### 2.1 With a for-loop

In [7]:
numbers = [1,2,3,4,5,6,7,8,9,10]
n_even = []
for i in numbers:
    if i%2 == 0:
        n_even.append(i)
n_even

[2, 4, 6, 8, 10]

#### 2.2 With a list comprehension

In [4]:
numbers = [1,2,3,4,5,6,7,8,9,10]

In [8]:
even_n = [x for x in numbers if x%2 == 0]

even_n

[2, 4, 6, 8, 10]

In [5]:
even_list = [x for x in numbers if x % 2 == 0]
print(even_list)

[2, 4, 6, 8, 10]

---

### 3. convert to 'v' if a character is a vowel and 'c' if a consonant, otherwise convert to '?'

I've conveniently defined the vowels and lowercase alphabet below. The characters to convert are in the `characters` list.

In [16]:
alphabet = list(string.ascii_lowercase)
vowels = list('aeiou')
print alphabet
print vowels

characters = ['a','f',None,'k','l','1',12,'e','e',-1,'i','b','p']

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
['a', 'e', 'i', 'o', 'u']

#### 3.1 With a for-loop

In [19]:
vc =[]
for c in characters:
    
    if c in vowels:
        vc.append('v')
    elif c in alphabet:
        vc.append('c')
    else:
        vc.append('?')
        
vc

['v', 'c', '?', 'c', 'c', '?', '?', 'v', 'v', '?', 'v', 'c', 'c']

#### 3.2 With a list comprehension

In [23]:
vc = ['c' if car in alphabet else 'v' if car in vowels else '?' for car in characters]
vc

['c', 'c', '?', 'c', 'c', '?', '?', 'c', 'c', '?', 'c', 'c', 'c']

In [10]:
print ['v' if ch in vowels 
       else 'c' if ch in alphabet# and ch not in vowels 
       else '?' 
       for ch in characters]

['v', 'c', '?', 'c', 'c', '?', '?', 'v', 'v', '?', 'v', 'c', 'c']

---

### 4. calculate the means of the numbers in each list that lie between 0 and 100 (inclusive)

In other words, for each list inside of the `number_sets` list, calculate the mean of the numbers in the list that lie between 0 and 100.

For example:

```python
a_list = [100, 1000, 99, 2, 0, -1]
# before computing the mean, restrict to numbers in range [0, 100]
a_list_restricted = [100, 99, 2, 0]
# then compute the mean for that list
a_list_mean = np.mean(a_list_restricted)
```

In [11]:
number_sets = [[1,50,-40,20,90], [1004,1002,101,-90,40,34], [-1,-2,34,55,77,109]]

In [14]:

[np.mean([number for number in number_set if number in range(0, 101)])
for number_set in number_sets]

[40.25, 37.0, 55.333333333333336]

#### 4.1 With a for-loop

In [14]:
means = []

for number_sublists in number_sets:
    restricted_list = []
    for number in number_sublists:
        if number >= 0 and number <= 100:
            restricted_list.append(number)
    means.append(np.mean(restricted_list))
    
print means

[40.25, 37.0, 55.333333333333336]

#### 4.2 With a list comprehension

In [64]:
number_sets = [[1,50,-40,20,90], [1004,1002,101,-90,40,34], [-1,-2,34,55,77,109]]

val = [np.mean([i for i in x if i > 0 and i < 100]) for x in number_sets]

print val

[40.25, 37.0, 55.333333333333336]

In [63]:
means = [np.mean([i for i in x if i > 0 and i < 100]) for x in number_sets]
print means

means = [np.mean([y for y in x if y >= 0 and y <= 100]) for x in number_sets]
print means

[40.25, 37.0, 55.333333333333336]
[40.25, 37.0, 55.333333333333336]

In [ ]:
means = []

---

### 5. Iterate through lists at the same time, concatenating strings from each

**While iterating through both lists at the same time:**

1. If the current index of the lists is even, join the string elements like: 'item1 item2'. 
2. If the current index of the lists is odd, join the string elements like: 'item2 item1'. 
3. Output a single list with the concatenated strings as elements.

**item1** refers to the string at a particular index from the first list, and **item2** refers to the string from that index in the second list.

You can use the handy **`zip(list1, list2)`** function to iterate through lists at the same time. For example:

```python
list1 = [1,2,3,4]
list2 = ['A','B','C','D']
zipped = zip(list1, list2)
print zipped
[(1, 'A'), (2, 'B'), (3, 'C'), (4, 'D')]
```

The **`enumerate()`** function will also come in handy!

In [15]:
strings1 = ['alpha','bravo','charlie','delta']
strings2 = ['echo','foxtrot','golf','hotel']

In [21]:
for i, (x, y, z) in enumerate(zip(strings1, strings2, [1,2,3,4,4,5,5,5,54])):
    print i, x, y, z

0 alpha echo 1
1 bravo foxtrot 2
2 charlie golf 3
3 delta hotel 4

In [16]:
[x + y if i % 2 == 0 else y + x for i, (x, y) in enumerate(zip(strings1, strings2))]

['alphaecho', 'foxtrotbravo', 'charliegolf', 'hoteldelta']

#### 5.1 With a for-loop

#### 5.2 With a list comprehension

---

### 6. Dictionary comprehensions: create data dictionary from lists

1. The keys will be the items in the `columns` list.
2. The values for the column keys will be the number referred to by the key (given to you in the `values` list), times the numbers in the `multiples` list.

For example, if I had columns `'two'` and `'three'`, the output would be:

```python
columns = ['two','three']
values = [2, 3]
multiples = [1,2,3,4,5]
# ...code to generate output below...
{
 'two':[2,4,6,8,10],
 'three':[3,6,9,12,15]
}

```

from the columns and associated values where each column is the first five multiples of the values:

In [22]:
columns = ['five','seven','twelve']
values = [5, 7, 12]
multiples = [1, 2, 3, 4, 5]

In [23]:
{col:[mult*v for mult in multiples] 
 for col,v in zip(columns, values)}

{'five': [5, 10, 15, 20, 25],
 'seven': [7, 14, 21, 28, 35],
 'twelve': [12, 24, 36, 48, 60]}

In [26]:
d = {}
for col, v in zip(columns, values):
    print col, v
    new_multiples = []
    for mult in multiples:
        print mult
        new_multiples.append(mult*v)
    d[col] = new_multiples
d

five 5
1
2
3
4
5
seven 7
1
2
3
4
5
twelve 12
1
2
3
4
5

{'five': [5, 10, 15, 20, 25],
 'seven': [7, 14, 21, 28, 35],
 'twelve': [12, 24, 36, 48, 60]}

#### 6.1 With a for-loop

#### 6.2 With a dictionary comprehension

---

### 7. [Challenge] manually calculate the median of the first n numbers (from list "N") in list "X"

You will:

1. Iterate through the values in list N
2. For the current value in N, calculate the median of the values in X up to the length specified by the value in N.
3. Return a list (same length as N) with the calculated medians.

So, if the current value in `N` was 10, you would take the first 10 elements from X and calculate the median of those elements.

**NOTE: the median is calculated differently for even and odd numbered lists!**

1. For **odd-length** lists, the median is the value in the middle.
> ex: median of `[1,2,3,4,5]` is `3`
 
2. For **even-length** lists, the median is the average of the two middle-most values:
> ex: median of `[1,2,3,10,11,12]` is `6.5`, `(3+10)/2.`

In [46]:
N = [12, 5, 6, 8, 10]
X = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [30]:
from math import ceil, floor

In [29]:
ceil(1.1)

2.0

In [36]:
def lower_index(n):
    return ceil(float(n)/2)-1

def upper_index(n):
    return ceil(float(n)/2)

In [38]:
a = [1, 2, 3, 4, 5, 6, 7, 8]
print lower_index(len(a))
print upper_index(len(a))

3.0
4.0

In [49]:
def calculate_even_length_median(X, length):
    print X, length
    subset_X = X[:length]
    lower = int(lower_index(len(subset_X)))
    upper = int(upper_index(len(subset_X)))
    
    lower_element = subset_X[lower]
    upper_element = subset_X[upper]
    print lower, upper, lower_element, upper_element
    return np.mean([lower_element, upper_element])

def calculate_odd_length_median(X, length):
    subset_X = X[:length]
    middle_index = floor(float(length)/2)
    return subset_X[int(middle_index)]

medians = [
    calculate_even_length_median(X, length) if len(X[:length]) % 2 == 0
    else calculate_odd_length_median(X, length)
    for length in N
]
medians

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15] 12
5 6 6 7
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15] 6
2 3 3 4
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15] 8
3 4 4 5
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15] 10
4 5 5 6

[6.5, 3, 3.5, 4.5, 5.5]

In [ ]:
N = [12, 5, 6, 8, 10]
X = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

#### 7.1 Using loops

#### 7.2 Using list comprehensions

---

### 8. [Challenge] combine into a flat list: 

1. Iterate the elements of the first list `a`
2. Multiply by them by the elements in the second list `b`
3. Then subtract the elements in a third list `c`

e.g:

```python
a = [1,2]
b = [0,1]
c = [1,2]
output = [0,0,0,-1,0,0,1,0]
```

In [9]:
a = [9,7,5]
b = [10,5,1]
c = [1,2,3]

#### 8.1 With loops

#### 8.2 With list comprehensions