## Regular Expressions

#### 1. Write a function to check that a string contains only a certain set of characters (in this case a-z, A-Z and 0-9).

#### 2. Write a function that matches a string that has an `a` followed by zero or more b's.

#### 3. Write a Python program to find sequences of lowercase letters joined with a underscore.

## List comprehension

In [ ]:
import string
import numpy as np

#### 4. Using a list comprehension, create a new list called "newlist" out of the list "numbers", which contains only the positive numbers from the list, as integers.

In [ ]:
numbers = [34.6, -203.4, 44.9, 68.3, -12.2, 44.6, 12.7]

#### 5. Create a function that returns a list of integers which specify the length of each word in a certain sentence, but only if the word is not the word "the".

In [ ]:
sentence = "the quick brown fox jumps over the lazy"

#### 6. convert each string from lowercase to uppercase

Python strings can be turned to uppercase by appending: **`.upper()`**. The inverse to lowercase can be done with **`.lower()`**.

```python
'yellow'.upper()
'YELLOW'
'GREEN'.lower()
'green'
```

#### 6.1 With a for-loop

In [ ]:
strings = ['black','Yellow','ReD','GreeN','BLUe']

#### 6.2 With a list comprehension

#### 7. take the numbers in the list and keep only the even numbers

Recall that the modulo operator **%** can be used to calculate the remainder. This is useful for finding even and odd numbers.

```python
print 5 % 2
1
print 4 % 2
0
```

#### 7.1 With a for-loop

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10]

#### 7.2 With a list comprehension

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10]

#### 8. convert to 'v' if a character is a vowel and 'c' if a consonant, otherwise convert to '?'

I've conveniently defined the vowels and lowercase alphabet below. The characters to convert are in the `characters` list.

In [ ]:


alphabet = list(string.ascii_lowercase)

#### 8.1 With a for-loop

#### 8.2 With a list comprehension


#### 9. calculate the means of the numbers in each list that lie between 0 and 100 (inclusive)

In other words, for each list inside of the `number_sets` list, calculate the mean of the numbers in the list that lie between 0 and 100.

For example:

```python
a_list = [100, 1000, 99, 2, 0, -1]
# before computing the mean, restrict to numbers in range [0, 100]
a_list_restricted = [100, 99, 2, 0]
# then compute the mean for that list
a_list_mean = np.mean(a_list_restricted)
```

In [ ]:

number_sets = [[1,50,-40,20,90], [1004,1002,101,-90,40,34], [-1,-2,34,55,77,109]]

#### 9.1 With a for-loop

#### 9.2 With a list comprehension

## Lambda function

### Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

### Step 5. Create a lambda function that capitalize strings.

### Step 6. Capitalize both Mjob and Fjob

### Step 7. Print the last elements of the data set.

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

### Step 9. Create a function called majority that return a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

### Step 11. Multiply the age column by 10 using lambada.