<img src="https://user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_300,w_300,f_auto,q_auto/1266110/Logo_wzxi0f.png" style="float: left; margin: 20px; height: 55px">

# Day 10 - Exercises

## Alcohol

### Introduction:

GroupBy can be summarizes as Split-Apply-Combine.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)

### Step 1. Import the necessary libraries

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

### Step 4. Which continent drinks more beer on average?

### Step 5. For each continent print the statistics for wine consumption.

### Step 6. Print the mean alcohol consumption per continent for every column

### Step 7. Print the median alcohol consumption per continent for every column

### Step 8. Print the mean, min and max values for spirit consumption.

This time output a DataFrame

## Occupation

### Step 1. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 2. Assign it to a variable called users.

In [24]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', 
                      sep='|', index_col='user_id')
users.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

### Step 3. Discover what is the mean age per occupation

### Step 4. Discover the Male ratio per occupation and sort it from the most to the least

### Step 5. For each occupation, calculate the minimum and maximum ages

### Step 6. For each combination of occupation and gender, calculate the mean age

### Step 7.  For each occupation present the percentage of women and men

## Regiment

### Step 1. Create the DataFrame with the following values:

In [14]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Step 2. Assign it to a variable called regiment.

Don't forget to name each column

### Step 3. What is the mean preTestScore from the regiment Nighthawks?

### Step 4. Present general statistics by company

### Step 5. What is the mean each company's preTestScore?

### Step 6. Present the mean preTestScores grouped by regiment and company

### Step 7. Present the mean preTestScores grouped by regiment and company without heirarchical indexing

### Step 8. Group the entire dataframe by regiment and company

### Step 9. What is the number of observations in each regiment and company

### Step 10. Iterate over a group and print the name and the whole data from the regiment