<img src="https://user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_300,w_300,f_auto,q_auto/1266110/Logo_wzxi0f.png" style="float: left; margin: 20px; height: 55px">

## 1. Comparison Operatos

#### 1. Given variables x and y please provide a program that returns the following output:

In [0]:
x = 10
y = 12

# Output: x > y is False

# Output: x < y is True

# Output: x == y is False

# Output: x != y is True

# Output: x >= y is False

# Output: x <= y is True

#### 2. Given the variables below please provide a program that returns the following output using _is_ and _is not_:

In [0]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

# Output: False

# Output: True

# Output: False

## 2. Chained Comparison Operatos

#### 3. Considering the elements below what do you think the expressions will return, True or False?

 a, b, c, d, e, f = 0, 5, 12, 0, 15, 15
 
- exp1: a <= b < c > d is not e is f 
- exp2: a is d > f is not c

In [1]:
a, b, c, d, e, f = 0, 5, 12, 0, 15, 15

In [2]:
exp1 = a <= b < c > d is not e is f 
exp2 = a is d > f is not c

#### 4. Considering the elements below what do you think the expressions will return, True or False?

In [0]:
u = 5
v = 10
w = 15
x = 0
y = 7
z = 15

# The w is same as z but not same as v, v is greater than x, which is less than y

# Check whether w and z are same and x < z > y or not

# Check if u times 2 plues v times 2 is equal to z plus v plus u

## 3. Functions

#### 5. Write a function that returns the area of a square using one argument. The ouput should be: 
- 'The area of a square using a function with one argument (side 5) is: '

#### 6. Write a function that returns the area of a rectangel using two arguments. The ouput should be
- 'The area of a rectangle using a function with two arguments (length 5 and breadth 6) is: '

#### 7. Write a function that returns the surface area of a cuboid using three arguments. The ouput should be:
- 'The surface area of a cuboid using a function with three arguements (length 5, breadth 6, and height 7) is:'

#### 8. Write a Python function to multiply all the numbers in a list.

In [0]:
multi = [8, 2, 3, -1, 7]

#### 9. Write a Python program to reverse a string.

#### 10. Write a Python function to check whether a number is in the range between 3 and 12. If the number is within the range the function should return -number- is in the range!, if is not the function should return 'The number is outside the given range.'

---

### 3.1 Funcitions with dictionaries

In [0]:
# Dictionary of movies

movies = [
{
"name": "Usual Suspects", 
"imdb": 7.0,
"category": "Thriller"
},
{
"name": "Hitman",
"imdb": 6.3,
"category": "Action"
},
{
"name": "Dark Knight",
"imdb": 9.0,
"category": "Adventure"
},
{
"name": "The Help",
"imdb": 8.0,
"category": "Drama"
},
{
"name": "The Choice",
"imdb": 6.2,
"category": "Romance"
},
{
"name": "Colonia",
"imdb": 7.4,
"category": "Romance"
},
{
"name": "Love",
"imdb": 6.0,
"category": "Romance"
},
{
"name": "Bride Wars",
"imdb": 5.4,
"category": "Romance"
},
{
"name": "AlphaJet",
"imdb": 3.2,
"category": "War"
},
{
"name": "Ringing Crime",
"imdb": 4.0,
"category": "Crime"
},
{
"name": "Joking muck",
"imdb": 7.2,
"category": "Comedy"
},
{
"name": "What is the name",
"imdb": 9.2,
"category": "Suspense"
},
{
"name": "Detective",
"imdb": 7.0,
"category": "Suspense"
},
{
"name": "Exam",
"imdb": 4.2,
"category": "Thriller"
},
{
"name": "We Two",
"imdb": 7.2,
"category": "Romance"
}
]

#### 11. Write a function that the rating of the movie and returns ' movie_name it is a great movie' if the rating is bigger or equal to 5.5. If it is not then print 'this is a shity movie'

#### 12. Write a function that returns a sublist of movies with an IMDB score above 6.

#### 13. Write a function that takes a category name and returns just those movies under that category.

#### 14. Write a function that takes a list of movies in a category and computes the average IMDB score. You will have to pass two parameters.

#### 15. Write a function that takes a list of movies and computes the average IMDB score.

#### 16. Write a function that takes a list and returns a list with its unique elements

Example: sample list : [1,2,3,3,3,3,4,5] $\rightarrow$ unique list : [1, 2, 3, 4, 5]

In [ ]:
lista = [1,2,3,3,366,3,3,4,5]

#### 17.  Write a function that checks whether a passed string is a palindrome or not

A palindrome is a word, a phrase, or a sequence that reads the same backward as forward (neglecting spaces), e.g., madam or nurses run. You are allowed to use your string reverse function.

#### 18. ## 2. Using a for loop, create a list of integers with the length of each word in the sentence below, but only if the word is not the word "the" or "The"

The best preparation for tomorrow is doing your best today.