<img src="https://user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_300,w_300,f_auto,q_auto/1266110/Logo_wzxi0f.png" style="float: left; margin: 20px; height: 55px">

# 1. Lists

Complete the questions using the following list:

In [ ]:
mix = [12, 12.2, 'flower', 'a', (1, 2, 3)]

##### 1. add the string 'animal' to mix using .append()

In [ ]:
mix.append('animal')
print(mix)

[12, 12.2, 'flower', 'a', (1, 2, 3), 'animal']

##### 2. join the list [1, 2] to mix using .extend()

In [ ]:
mix.extend([1,2])
print(mix)

[12, 12.2, 'flower', 'a', (1, 2, 3), 'animal', 1, 2]

##### 3. add your name at the 2nd position of the list using .insert(index, your_name)

In [ ]:
mix.insert(1, 'kiefer')
print(mix)

[12, 'kiefer', 12.2, 'flower', 'a', (1, 2, 3), 'animal', 1, 2]

##### 4. remove 'flower' from the list using .remove()

In [ ]:
mix.remove('flower')
print(mix)

[12, 'kiefer', 12.2, 'a', (1, 2, 3), 'animal', 1, 2]

##### 5. count the number of times 12 appears in the list using .count()

In [ ]:
mix.count(12)

1

##### 6. find the index integer of your name in the list using .index()

In [ ]:
mix.index('kiefer')

1

##### 7. remove the last element of the list and assign it to a variable with .pop()

In [ ]:
var = mix.pop()
print(var)
print(mix)

animal
[12, 'kiefer', 12.2, 'a', (1, 2, 3)]

##### 8. reverse the order of the elements in the list with .reverse()

In [ ]:
mix.reverse()
print(mix)

[(1, 2, 3), 'a', 12.2, 'kiefer', 12]

##### 9. Create a list of integers and floats and sort it using .sort()

# 2. Foor Loops

In [ ]:
numbers = [2,3,55,6,0.7,33,2,6765,80006]

##### 1. Print each number within the list

In [ ]:
for i in numbers:
    print (i)

2
3
55
6
0.7
33
2
6765
80006

##### 2. Substract 20 to each elemens in the list and append it to a new list.

In [ ]:
numbers2 = []
for i in numbers:
    numbers2.append(i-20)
print(numbers2)

[-18, -17, 35, -14, -19.3, 13, -18, 6745, 79986]

##### 3. Multiply each element in the list from the previous exercise by 3 and append it to a new list.

In [ ]:
numbers3 = []
for i in numbers:
    numbers3.append(i*3)
print(numbers3)

[6, 9, 165, 18, 2.0999999999999996, 99, 6, 20295, 240018]

##### 4. Divide each element in the list from the previous exercise by 6 and append it to a new list.

In [ ]:
numbers4 = []
for i in numbers:
    numbers4.append(i/6)
print(numbers4)

[0.3333333333333333, 0.5, 9.166666666666666, 1.0, 0.11666666666666665, 5.5, 0.3333333333333333, 1127.5, 13334.333333333334]

##### 5. Apply and exponential/power of 2 to each element in the list from the previous exercise and append it to a new list.

In [ ]:
numbers5 = []
for i in numbers:
    numbers5.append(i**2)
print(numbers5)

[4, 9, 3025, 36, 0.48999999999999994, 1089, 4, 45765225, 6400960036]