<img src="https://user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_300,w_300,f_auto,q_auto/1266110/Logo_wzxi0f.png" style="float: left; margin: 20px; height: 55px">

## 1. Conditional Statements

In [ ]:
con = [3,3/2,-77,1001,8,342,-19,2,-5,0,997,23]

##### 1. Categorise each element of the list below into two lists, negative and positive. Print both lists.

In [ ]:
negative = []
positive = []

for i in con:
    if i >= 0:
        positive.append(i)
    else:
        negative.append(i)
print(positive)
print(negative)

[3, 1.5, 1001, 342, 2]
[-77, -19, -5]

##### 2. Use the con list to and classify each element into tow list, pair and odds. Print both lists

In [ ]:
pair = []
odd = []

for i in con:
    if i%2 == 0:
        pair.append(i)
    else:
        odd.append(i)
print(pair)
print(odd)

[8, 342, 2, 0]
[3, 1.5, -77, 1001, -19, -5, 997, 23]

##### 3. Use the con list to return only does numbers greater than 0 but less than 30

In [ ]:
for i in con:
    if 0<i<30:
        print (i)

3
1.5
8
2

##### 4. Use the con list to return only the odd numbers that are greater than 2.

In [ ]:
for i in con:
    if i%2 != 0 and i>2:
        print (i)

3
1001
997
23

##### 5. Add the number from the previous exercise into a list and return the sum of them. Call the list belgrave

In [ ]:
belgrave = []
for i in con:
    if i%2 != 0 and i>2:
        belgrave.append(i)
print (sum(belgrave))

2024

##### 6. Multiply each element of the con list by the value in the list belgrave and add it to a new list called valley. You canÂ´t write down the number 2024.

In [ ]:
valley = []
for i in con:
    valley.append(i*max(belgrave))
print(valley)

[3003, 1501.5, -77077, 1002001, 8008, 342342, -19019, 2002, -5005, 0, 997997, 23023]

##### 7. Multiply each element of the valley list and the con list. Append the result to a new list called final.

In [ ]:
final = []
for i in con:
    for x in valley:
        final.append(i*x)
print(final)

[9009, 4504.5, -231231, 3006003, 24024, 1027026, -57057, 6006, -15015, 0, 2993991, 69069, 4504.5, 2252.25, -115615.5, 1503001.5, 12012.0, 513513.0, -28528.5, 3003.0, -7507.5, 0.0, 1496995.5, 34534.5, -231231, -115615.5, 5934929, -77154077, -616616, -26360334, 1464463, -154154, 385385, 0, -76845769, -1772771, 3006003, 1503001.5, -77154077, 1003003001, 8016008, 342684342, -19038019, 2004002, -5010005, 0, 998994997, 23046023, 24024, 12012.0, -616616, 8016008, 64064, 2738736, -152152, 16016, -40040, 0, 7983976, 184184, 1027026, 513513.0, -26360334, 342684342, 2738736, 117080964, -6504498, 684684, -1711710, 0, 341314974, 7873866, -57057, -28528.5, 1464463, -19038019, -152152, -6504498, 361361, -38038, 95095, 0, -18961943, -437437, 6006, 3003.0, -154154, 2004002, 16016, 684684, -38038, 4004, -10010, 0, 1995994, 46046, -15015, -7507.5, 385385, -5010005, -40040, -1711710, 95095, -10010, 25025, 0, -4989985, -115115, 0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2993991, 1496995.5, -76845769, 998994997, 7983976, 341314974, -18961943, 1995994, -4989985, 0, 995003009, 22953931, 69069, 34534.5, -1772771, 23046023, 184184, 7873866, -437437, 46046, -115115, 0, 22953931, 529529]

## 2. Dictionaries

In [1]:
names = {'kiefer':'katovich', 'dave':'yerrington', 'stoney':'vintson'}

##### 8. assign a value for a key to a variable with .pop(), removing the pair from the dictionary

In [2]:
stoney = names.pop('stoney')
print(stoney)
print(names)

vintson
{'kiefer': 'katovich', 'dave': 'yerrington'}

##### 9. assign a value for a key to a variable with .get(), keeping the pair in the dictionary

In [ ]:
dave = names.get('dave')
print(dave)
print(names)

yerrington
{'kiefer': 'katovich', 'dave': 'yerrington', 'ali': 'pisano'}

##### 10. print the keys in the dictionary with the .keys() function

In [ ]:
names.keys()

dict_keys(['kiefer', 'dave', 'ali'])

###### 11. print the key:value pairs in the dictionary with the .items() function

In [ ]:
names.items()

dict_items([('ali', 'pisano')])

##### 12. Join another dictionary with your dictionary using the .update() function.

Note: the update function takes the dictionary you want to merge in as a variable.

In [ ]:
names.update({'ali':'piaano'})
print(names)

{'kiefer': 'katovich', 'dave': 'yerrington', 'stoney': 'vintson', 'ali': 'piaano', 'alis': 'pisano'}

##### 13. clear all the key:value pairs from the dictionary using .clear()

In [ ]:
names.clear()
print(names)

{}

---

In [ ]:
age = {'Pol':26,'Pablo':27, 'Javi': 23, 'Jorge':1, 'Paco': 26}

##### 14. Write a Python program to sum all the items in a dictionary.

In [ ]:
print(sum(age.values()))

103

##### 15. Write a Python program that returns all the keys in the dictionary - use a for loop.

In [ ]:
for i in age:
    print(i)

Pol
Pablo
Javi
Jorge
Paco

##### 16. Write a Python program that returns all the values in the dictionary and append them to a new list called numbers - use a for loop.

In [ ]:
numbers = []
for i,k in age.items():
    numbers.append(k)
print(numbers)

[26, 27, 23, 1, 26]

##### 17. Write a Python program that returns the sum of the length of all the keys in the dictionary.

In [ ]:
length = 0
for i,k in age.items():
    length += len(i)

print (length)

21

#### 18. Write a Python program to map two lists into a dictionary.

In [ ]:
names = ['Pol','Pablo','Javi','Jorge','Paco']
ages = [26,27,23,1,26]

create_age = dict(zip(names, ages))
print(create_age)

{'Pol': 26, 'Pablo': 27, 'Javi': 23, 'Jorge': 1, 'Paco': 26}

#### 19. Write a Python program to sort the age dictionary by keys.

In [ ]:
print(sorted(age.keys()))

['Javi', 'Jorge', 'Pablo', 'Paco', 'Pol']

## 3. Tuples

In [ ]:
tuplex = ("w", 'm', "r", "e", "s", "o", "u", "r", "c", "e")

#### 20. Write a Python program to get the 4th element and 4th element from last of a tuple.

In [ ]:
item = tuplex[3]
print(item)

#Get item (4th element from last)by index negative
item1 = tuplex[-4]
print(item1)

e
u

#### 21. Write a Python program that returns how many times each elements appears in the tuple - use for loop.

In [ ]:
for i in tuplex:
    print(i + ':'+ str(tuplex.count(i)))

w:1
m:1
r:2
e:2
s:1
o:1
u:1
r:2
c:1
e:2