<img src="https://user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_300,w_300,f_auto,q_auto/1266110/Logo_wzxi0f.png" style="float: left; margin: 20px; height: 55px">

## Useful Operators

#### 1. Print first 5 numbers using range function

#### 2. Print integers within given start and stop number using range() function

#### 3. Create a list of integers between 100 and 126 included

#### 4.Print all odd numbers between 23 and 64 using range()

#### 5. Create a list with all the even numbers between 80 and 124 included.

#### 6. Use enumerate to return the elemnts from the list where their index is greater than 3. Add them to a new list.

In [ ]:
names = ['Pol','Tabixe','Pablo','Paco','Adri','Hector','Manu','Carlos','Ibrahim','Javier','Jesus']

#### 7. Use enumerate to substract 2 to the numbers in the list that have and even index. Return the same list updated.

In [ ]:
numbers = [2,44,564,0.3,45,6/7,9,15]

#### 8. Use zip to group each variable on the following list based on their index

In [ ]:
list1 = [15,2.5,3/6,334,5]
list2 = ['t','n','o','a','e']

#### 9. Write a program which returns does elements that appear in both lists. Add them to a new list and sort it descending.

In [ ]:
alpha = [6,7,33,6.5,908.9,34,2*2]
beta = [4,32,66,7,12+22]

#### 10. Write a program which returns a list with does elements in the first list that match the length of the elements in the second list.

In [ ]:
bv = ['Pol','Tabixe','Pablo','Paco','Adri','Hector','Manu','Carlos','Ibrahim','Javier','Jesus']
bv_num = [2,3,67,5,1,0]

#### 11. Print a random number from a range between 100 and 4000.

#### 12. Print a shuffled version of the list provided.

In [ ]:
numbers2 = [2,44,564,0.3,45,6/7,9,15]

#### 13. Print an even random number between 0 and 10.

#### 14. Print a random element from a list

#### 15. Print a sample of 4 numbers from the list provided

In [ ]:
sample = [2,5,8,9,12,66,32,56,554]

#### 16. Create a program that asks for you name

#### 17. Create a program that asks for you name, age, location and returns the following output: Hi my name is _name_, I am _age_ years old and I live in _location_. Use any of the formatting you saw on day 1.

#### 18. Create a program that asks for you name, age and returns the year were you will be 100 years old.

#### 19. Write a single function called suma that returns the sum of the following examples withoug using more than one variable. Use *args

In [ ]:
(3,5)
(4,5,6,7)
(1,2,3,5,6)

(1, 2, 3, 5, 6)

#### 20. Write a single function called multi_suma that returns the following. Use *args.

 - multi_suma(2,3,5) = ((2x3)+(2x5)) = 16
 - multi_suma(2,3,5,5) = ((2x3)+(2x5)+(2x5)) = 26
 - multi_suma(2,55,2,9) = ((2x55)+(2x5)+(2x9)) = 132