<img src="https://user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_300,w_300,f_auto,q_auto/1266110/Logo_wzxi0f.png" style="float: left; margin: 20px; height: 55px">

# Advanced SQL - Subqueries

#### 1. Return the destination airport name for those flights with a cargo_rev below the average. Use the table  tutorial.flight_revenue.

In [ ]:
'''SELECT 
  *
FROM 
  tutorial.flight_revenue 
WHERE
  cargo_rev < (SELECT avg(cargo_rev) FROM tutorial.flight_revenue) ;'''

#### 2. Let's make sure the script above is accurate, reuse it to get the percentatge of airports below the average.

In [ ]:
'''SELECT 
  count(id)::float/(SELECT count(*) FROM tutorial.flight_revenue)
FROM 
  tutorial.flight_revenue 
WHERE
  cargo_rev < (SELECT avg(cargo_rev) FROM tutorial.flight_revenue) ;  '''

In [ ]:
'''SELECT 
  cast(count(id) as float)/(SELECT count(*) FROM tutorial.flight_revenue)
FROM 
  tutorial.flight_revenue 
WHERE
  cargo_rev < (SELECT avg(cargo_rev) FROM tutorial.flight_revenue) ; '''

#### 3. Which percentage of flights have a first_class_rev between 13000 and 16000. The output must be a percentage with two decimals and the % symbol. Use the table  tutorial.flight_revenue

In [ ]:
'''SELECT 
  concat(round(cast(100*count(id)::float/(SELECT count(*) FROM tutorial.flight_revenue) as numeric),2),'%')
FROM 
  tutorial.flight_revenue 
WHERE
  first_class_rev BETWEEN 13000 AND 16000  ;  '''

#### 4. How many products have been sold more than 5 times. Use the table tutorial.excel_sql_transaction_data

In [ ]:
'''SELECT 
  count(*) 
FROM 
tutorial.excel_sql_inventory_data te 
JOIN  
  (SELECT 
    product_id, 
    count(transaction_id) total_transactions
  FROM 
    tutorial.excel_sql_transaction_data 
  GROUP BY 
    1 
  HAVING 
    count(transaction_id) > 5) tt ON tt.product_id = te.product_id
ORDER BY
  1 desc;'''

#### 4.1 Now answer the same question but using a WITH statement

In [ ]:
'''WITH transactions AS  
  (SELECT 
    product_id, 
    count(transaction_id) total_transactions
  FROM 
    tutorial.excel_sql_transaction_data 
  GROUP BY 
    1 
  HAVING 
    count(transaction_id) > 5)

SELECT 
  count(*) 
FROM 
tutorial.excel_sql_inventory_data te 
JOIN  
  transactions tt ON tt.product_id = te.product_id
ORDER BY
  1 desc'''

#### 5 How many products have been purchased on the 3rd and 7th day of the month. You will need to use date_trunc and extract functions.

In [ ]:
'''SELECT
  count(*)
FROM
  tutorial.excel_sql_inventory_data
WHERE
  product_id IN (
                  SELECT 
                    product_id 
                  FROM 
                    tutorial.excel_sql_transaction_data 
                  WHERE extract('day' from date_trunc('day',time)) IN (3,7))'''

#### 6. Which region have less than 11 sale agents? Use tutorial.sales_reps and tutorial.regions. (You must use a with statement)

In [ ]:
'''WITH performance AS 
          ( SELECT 
              region_id
              ,count(id) sales_agents
            FROM 
              tutorial.sales_reps
            GROUP BY
              1
            HAVING 
              count(id) <= 10)

SELECT 
  name
  ,sales_agents
FROM 
  tutorial.regions r
JOIN
  performance p ON p.region_id = r.id'''

#### 7. Return the average number of events per use for each location.

In [ ]:
'''SELECT
  location
  ,avg(nu_events)
FROM
    (SELECT 
      location,
      user_id, 
      count(distinct event_name) nu_events
    FROM 
      tutorial.playbook_events 
    WHERE
      
    GROUP BY 
      1,2) a
GROUP BY
  1
ORDER BY
  2 desc;'''