<img src="https://user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_300,w_300,f_auto,q_auto/1266110/Logo_wzxi0f.png" style="float: left; margin: 20px; height: 55px">

## 1. Conditional Statements

In [ ]:
con = [3,3/2,-77,1001,8,342,-19,2,-5,0,997,23]

##### 1. Categorise each element of the list below into two lists, negative and positive. Print both lists.

##### 2. Use the con list to and classify each element into tow list, pair and odds. Print both lists

##### 3. Use the con list to return only does numbers greater than 0 but less than 30

##### 4. Use the con list to return only the odd numbers that are greater than 2.

##### 5. Add the number from the previous exercise into a list and return the sum of them. Call the list belgrave

##### 6. Multiply each element of the con list by the value in the list belgrave and add it to a new list called valley. You canÂ´t write down the number 2024.

##### 7. Multiply each element of the valley list and the con list. Append the result to a new list called final.

## 2. Dictionaries

##### 8. assign a value for a key to a variable with .pop(), removing the pair from the dictionary

##### 9. assign a value for a key to a variable with .get(), keeping the pair in the dictionary

##### 10. print the keys in the dictionary with the .keys() function

###### 11. print the key:value pairs in the dictionary with the .items() function

##### 12. Join another dictionary with your dictionary using the .update() function.

Note: the update function takes the dictionary you want to merge in as a variable.



##### 13. clear all the key:value pairs from the dictionary using .clear()

---

In [ ]:
age = {'Pol':26,'Pablo':27, 'Javi': 23, 'Jorge':1, 'Paco': 26}

##### 14. Write a Python program to sum all the items in a dictionary.

##### 15. Write a Python program that returns all the keys in the dictionary - use a for loop.

##### 16. Write a Python program that returns all the values in the dictionary and append them to a new list called numbers - use a for loop.

##### 17. Write a Python program that returns the sum of the length of all the keys in the dictionary.

#### 18. Write a Python program to map two lists into a dictionary.

#### 19. Write a Python program to sort the age dictionary by keys.

## 3. Tuples

In [ ]:
tuplex = ("w", 'm', "r", "e", "s", "o", "u", "r", "c", "e")

#### 20. Write a Python program to get the 4th element and 4th element from last of a tuple.

#### 21. Write a Python program that returns how many times each elements appears in the tuple - use for loop.