<img src="https://user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_300,w_300,f_auto,q_auto/1266110/Logo_wzxi0f.png" style="float: left; margin: 20px; height: 55px">

# Basic SQL

You can run and test your answers [here](https://app.mode.com/editor/belgravevalley/reports/c98c7b28c376). **Rememebr to also copy them under each question so you can have them as reference in the future**

### <font color='blue'>Use the flights table for the following questions:</font>

#### 1. Return all the columns from the flights table

In [ ]:
SELECT * FROM tutorial.flights;

#### 2. Return all the columns from the flights table where the destination_city is Atlanta

In [ ]:
SELECT  
  *
FROM
  tutorial.flights
WHERE
  destination_city = 'Atlanta';

#### 3. Return all the columns from the flights table where the destination_city is Atlanta and arrival delay is less than 0

In [ ]:
SELECT  
  *
FROM
  tutorial.flights
WHERE
  destination_city = 'Atlanta'
  and arrival_delay <0;

#### 4. Return all the columns from the flights table where the destination city is Atlanta, Houston or New York

In [ ]:
SELECT  
  *
FROM
  tutorial.flights
WHERE
  destination_city IN ('Houston','Atlanta','New York');

#### 5. Return all the unique destination state that cotain and 'm'

In [ ]:
SELECT distinct
  destination_state
FROM
  tutorial.flights
WHERE
  destination_state LIKE '%m%';

#### 6. Return the airline name, arrival delay and destination aiport from the table flights where the orgin city is not San Francisco and the departure delay is greater than -5 and less than 5

In [ ]:
SELECT
  airline_name,
  arrival_delay,
  destination_airport
FROM
  tutorial.flights
WHERE
  origin_city != 'San Francisco'
  AND departure_delay BETWEEN -5 AND 5
ORDER BY
  3 DESC

### <font color='green'>Use the city_populations table for the following questions</font>

####  7. Return the company name, company country code, investor name and raised amount for those companies founded in the period 2010-2012. Exclude those companies without country code and order by founded year descending.

In [ ]:
SELECT 
  company_name
  ,company_country_code
  ,investor_name
  ,raised_amount_usd
FROM 
  tutorial.crunchbase_investments 

WHERE
  funded_year IN (2010,2011,2012)
  and company_category_code IS NOT NULL
ORDER BY
  funded_year DESC;

####  8. Return the company name, company_category_code and raised amount for those companies founded after 2013 under the category code analytics or web. Display the first 33 rows only.

In [ ]:
SELECT 
  company_name
  ,company_category_code
  ,raised_amount_usd
FROM 
  tutorial.crunchbase_investments 
WHERE
  funded_year >= 2013
  and (company_category_code = 'analytics' OR company_category_code = 'web')
LIMIT
    33
;

#####  8.1 Which commands can you also use to get to the same result?

In [ ]:
SELECT 
  company_name
  ,company_category_code
  ,raised_amount_usd
FROM 
  tutorial.crunchbase_investments 
WHERE
  funded_year >= 2013
  and company_category_code IN ('analytics', 'web')
LIMIT
    33
;

####  9. Return the company name, company_category_code, funding_round_type and raised amount for those companies founded in  2010 were the category code is different than biotech or web and the investor city ends with K and they have raised more than 20 millions.

In [ ]:
SELECT 
  company_name
  ,company_category_code
  ,funding_round_type
  ,raised_amount_usd
FROM 
  tutorial.crunchbase_investments 
WHERE
  funded_year = 2010
  AND investor_city LIKE '%k'
  AND company_category_code NOT IN ('biotech', 'web')
  AND raised_amount_usd > 20000000

####  10. Return the name and raised amount of the top 3 companies who has raised the biggest series A round ever. Remove duplicates. Return the raised amount in millions and without decimals.

In [ ]:
SELECT DISTINCT 
  company_name,
  round(cast((raised_amount_usd/1000000) as numeric),0)
FROM 
  tutorial.crunchbase_investments 
WHERE 
  funding_round_type = 'series-a' 
  AND raised_amount_usd IS NOT NULL 
ORDER BY 
  2 desc
LIMIT 
  3;