<img src="https://user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_300,w_300,f_auto,q_auto/1266110/Logo_wzxi0f.png" style="float: left; margin: 20px; height: 55px">

**If you torture the data long enough, it will confess â€• [Ronald H. Coase](https://en.wikipedia.org/wiki/Ronald_Coase)**

# Intermediate SQL - Aggregations

## <font color='red'>Use the orders table for the following questions:</font>

### 1. Return the total sum of the amount_usd column from the orders table.

### 2. How many unique accounts we have in the orders table?

### 3. What is the average amount of each account in the orders table (order from bigger to smaller average)?

### 4. Using the script from the last exercises return only 2 decimals on the average and rename the column to average.

## <font color='green'>Use the orders table for the following questions:</font>

### 5. Return how many companies have been founded each year and return top 5 years with more companies founded in descending order. Exclude companies with no founded year. Use the table tutorial.crunchbase_companies.

## <font color='orange'>Use the watsi_events  table for the following questions:</font>

### 6. Return how many unique users contain the tutorial.watsi_events table

### 7. Return how many unique users have signed up each year in the tutorial.watsi_events table. You will need to use the funcion DATE_TRUNC to get each year. Use tutorial.watsi_events table

### 8. Pull out a list of the top 5 referrer domains based on users sign ups. Use tutorial.watsi_events table (Exclude null values)

### 9. Return how many customer came from each browser (Opera, Mozilla or Other), you will need to use a CASE and a LIKE to retreive the browser information. Use tutorial.watsi_events table

### 10. Return the unique number of users for each platform and order it descending. Use tutorial.watsi_events table

## <font color='blue'>Use the crunchbase_investments  table for the following questions:</font>

### 11. For each company return the name and the total amount raised in billions and name that colum "Total funding in billions". Exclude any null values and order from more to less amount raised. You must use HAVING.

### 12. Return a list with the average amount raised for each funding round type in millions. Exclude any null values and order from less to more.

### 13. Return the quarter that has received more investement ever. The ouput of the query should be three columns: Quarter, Amount raised in Billions and Number of investements.

The value of the column Amount raised in billions should look like this: 8 B

### 14. Return the maximum and minimu amount raised for each category code. The maximum amount should be displayed in Millions. Order by maximum amount descending.

### 15. Return the amount raised by USA investors and International investors ever. Considering international investors those outside the USA. Exclude any null values. You must use CASE. The output should be two rows:

- USA // Amount
- International // Amount