<img src="https://user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_300,w_300,f_auto,q_auto/1266110/Logo_wzxi0f.png" style="float: left; margin: 20px; height: 55px">

## 1. Comparison Operatos

#### 1. Given variables x and y please provide a program that returns the following output:

In [0]:
x = 10
y = 12

# Output: x > y is False

# Output: x < y is True

# Output: x == y is False

# Output: x != y is True

# Output: x >= y is False

# Output: x <= y is True

In [0]:
x = 10
y = 12
# Output: x > y is False
print('x > y  is',x>y)
# Output: x < y is True
print('x < y  is',x<y)
# Output: x == y is False
print('x == y is',x==y)
# Output: x != y is True
print('x != y is',x!=y)
# Output: x >= y is False
print('x >= y is',x>=y)
# Output: x <= y is True
print('x <= y is',x<=y)

x > y  is False
x < y  is True
x == y is False
x != y is True
x >= y is False
x <= y is True

#### 2. Given the variables below please provide a program that returns the following output using _is_ and _is not_:

In [0]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

# Output: False

# Output: True

# Output: False

In [0]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]
# Output: False
print(x1 is not y1)
# Output: True
print(x2 is y2)
# Output: False
print(x3 is y3)

False
True
False

## 2. Chained Comparison Operatos

#### 3. Considering the elements below what do you think the expressions will return, True or False?

 a, b, c, d, e, f = 0, 5, 12, 0, 15, 15
 
- exp1: a <= b < c > d is not e is f 
- exp2: a is d > f is not c

In [0]:
exp1 = a <= b < c > d is not e is f 
exp2 = a is d > f is not c 

print(exp1)
print(exp2)

True
False

#### 4. Considering the elements below what do you think the expressions will return, True or False?

In [0]:
u = 5
v = 10
w = 15
x = 0
y = 7
z = 15

# The w is same as z but not same as v, v is greater than x, which is less than y

# Check whether w and z are same and x < z > y or not

# Check if u times 2 plues v times 2 is equal to z plus v plus u

In [0]:
# The w is same as z but not same as v, v is greater than x, which is less than y
print(z is w is not v > x < y)
# Check whether w and z are same and x < z > y or not
print(x < w == z > y)
# Check if u times 2 plues v times 2 is equal to z plus v plus u
print(u*2 + v*2 == z+v+u)

True
True
True

## 3. Functions

#### 5. Write a function that returns the area of a square using one argument. The ouput should be: 
- 'The area of a square using a function with one argument (side 5) is: '

In [0]:
def areaSquare(side): 
    area=side**2
    return area

print ('The area of a square using a function with one argument (side 5) is: '+ str(areaSquare(5)) + '.')

The area of a square using a function with one argument (side 5) is: 25.

#### 6. Write a function that returns the area of a rectangel using two arguments. The ouput should be
- 'The area of a rectangle using a function with two arguments (length 5 and breadth 6) is: '

In [0]:
# write a function with two arguments. Find the area of a rectangle. 
def areaRect(length,breadth):
    area=length*breadth
    return area

print ('The area of a rectangle using a function with two arguments (length 5 and breadth 6) is: ' + str(areaRect(5,6))+'.')

The area of a rectangle using a function with two arguments (length 5 and breadth 6) is: 30.

#### 7. Write a function that returns the surface area of a cuboid using three arguments. The ouput should be:
- 'The surface area of a cuboid using a function with three arguements (length 5, breadth 6, and height 7) is:'

In [0]:
# write a function with three arguments. Find the surface area of cuboid.
def surfaceAreaCuboid(length,breadth,height): 
    area=2*(length*breadth+breadth*height+length*height)
    return area

print ('The surface area of a cuboid using a function with three arguements (length 5, breadth 6, and height 7) is: ' + str(surfaceAreaCuboid(5,6,7))+'.')

The surface area of a cuboid using a function with three arguements (length 5, breadth 6, and height 7) is: 214.

#### 8. Write a Python function to multiply all the numbers in a list.

In [0]:
multi = [8, 2, 3, -1, 7]

In [0]:
def multiply(numbers):  
    total = 1
    for x in numbers:
        total *= x  
    return total

print(multiply(multi))

#### 9. Write a Python program to reverse a string.

In [0]:
def string_reverse(str1):

    rstr1 = ''
    index = len(str1)
    while index > 0  index<0:
        rstr1 += str1[ index - 1 ]
        index = index - 1
    return rstr1

print(string_reverse('1234abcd'))

dcba4321

In [0]:
def reverse(str):
    return str [::-1]

In [0]:
reverse('1234abcd')

'dcba4321'

#### 10. Write a Python function to check whether a number is in the range between 3 and 12. If the number is within the range the function should return -number- is in the range!, if is not the function should return 'The number is outside the given range.'

In [0]:
def test_range(n):
    if n in range(3,9):
        print( " %s is in the range"%str(n))
    else :
        print("The number is outside the given range.")
test_range(5)

 5 is in the range

---

## 3.1 Funcitions with dictionaries

In [0]:
# Dictionary of movies

movies = [
{
"name": "Usual Suspects", 
"imdb": 7.0,
"category": "Thriller"
},
{
"name": "Hitman",
"imdb": 6.3,
"category": "Action"
},
{
"name": "Dark Knight",
"imdb": 9.0,
"category": "Adventure"
},
{
"name": "The Help",
"imdb": 8.0,
"category": "Drama"
},
{
"name": "The Choice",
"imdb": 6.2,
"category": "Romance"
},
{
"name": "Colonia",
"imdb": 7.4,
"category": "Romance"
},
{
"name": "Love",
"imdb": 6.0,
"category": "Romance"
},
{
"name": "Bride Wars",
"imdb": 5.4,
"category": "Romance"
},
{
"name": "AlphaJet",
"imdb": 3.2,
"category": "War"
},
{
"name": "Ringing Crime",
"imdb": 4.0,
"category": "Crime"
},
{
"name": "Joking muck",
"imdb": 7.2,
"category": "Comedy"
},
{
"name": "What is the name",
"imdb": 9.2,
"category": "Suspense"
},
{
"name": "Detective",
"imdb": 7.0,
"category": "Suspense"
},
{
"name": "Exam",
"imdb": 4.2,
"category": "Thriller"
},
{
"name": "We Two",
"imdb": 7.2,
"category": "Romance"
}
]

#### 11. Write a function that the rating of the movie and returns ' movie_name it is a great movie' if the rating is bigger or equal to 5.5. If it is not then print 'this is a shity movie'

In [0]:
def check(name):
    for i in movies:
        if i['name'] == name and i['imdb'] >= 5.5:
            print( i['name']+' it is a great movie')
        elif i['name'] == name and i['imdb'] < 5.5:
            print ('this is a shity movie')

In [0]:
check('What is the name')

What is the name it is a great movie

#### 12. Write a function that returns a sublist of movies with an IMDB score above 6.

In [0]:
def goodmovies(movies):
    good = []
    for i in movies:
        if i['imdb'] > 5.5:
            good.append(i['name'])
    return good

In [0]:
goodmovies(movies)

['Usual Suspects',
 'Hitman',
 'Dark Knight',
 'The Help',
 'The Choice',
 'Colonia',
 'Love',
 'Joking muck',
 'What is the name',
 'Detective',
 'We Two']

#### 13. Write a function that takes a category name and returns just those movies under that category.

In [0]:

def returnMovieCategory(movies,cat_name): 
    in_category=[]
    for i in movies:
        curr_cat=i['category']
        if cat_name.lower()==curr_cat.lower():
            in_category.append(i['name'])
    return in_category

# You could change to any category you'd like
returnMovieCategory(movies, 'Thriller')

['Usual Suspects', 'Exam']

#### 14. Write a function that takes a list of movies in a category and computes the average IMDB score. You will have to pass two parameters.

In [0]:
def avgcategory(movies,category):
    scores = []
    for i in movies:
        if i['category'] == category:
            scores.append(i['imdb'])
    avg = sum(scores)/len(scores)
    return 'the average score in '+category+' category is '+ str(avg)

In [0]:
avgcategory(movies,'Thriller')

'the average score in Thriller category is 5.6'

#### 15. Write a function that takes a list of movies and computes the average IMDB score.

In [0]:
def avgImdbScore(input): 
    average_list = []
    for m in input:
        average_list.append(m['imdb'])
    return sum(average_list)/len(average_list)

print ('Average IMDB score of all the movies is: '+ str(avgImdbScore(movies)))

Average IMDB score of all the movies is: 6.486666666666667

#### 16. Write a function that takes a list and returns a list with its unique elements

Example: sample list : [1,2,3,3,3,3,4,5] $\rightarrow$ unique list : [1, 2, 3, 4, 5]

In [0]:
lista = [1,2,3,3,366,3,3,4,5]

def unique(list):
    new_one = []
    for i in list:
        if i not in new_one:
            new_one.append(i)
    return new_one

In [0]:
unique(lista)

[1, 2, 3, 366, 4, 5]

#### 17.  Write a function that checks whether a passed string is a palindrome or not

A palindrome is a word, a phrase, or a sequence that reads the same backward as forward (neglecting spaces), e.g., madam or nurses run. You are allowed to use your string reverse function.

In [0]:
def poli(str):
    if reverse(str) == str:
        return True
    else:
        return False

In [0]:
poli('madame')

False

#### 18. ## 2. Using a for loop, create a list of integers with the length of each word in the sentence below, but only if the word is not the word "the" or "The"

The best preparation for tomorrow is doing your best today.

In [0]:
def int_list(sentence):
    list_int = []
    forbiden_words = ['The','the']
    for i in sentence.split():
        if i not in forbiden_words:
                list_int.append(len(i))
    return list_int

In [0]:
int_list('The best preparation for the tomorrow is doing your best today.')

[4, 11, 3, 8, 2, 5, 4, 4, 6]